/*
=================================================
HERO SECTION
=================================================
*/

.hero-section {
    background-image: url("img/fishing-boat-5541327_1280.jpg");
    background-position: center;
    background-size: cover;
}

.hero-section h1{
   top:-auto; 
}

/*
=================================================
ONE COLUMN
=================================================
*/



.h1{
  text-align: center;
 font-weight: 600;
 font-size:50px; 
}

.paragraph{
    font-size:20px;
   
    
    
}


/*
=================================================
SKOKIE LAGOONS
=================================================
*/

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
    margin-bottom: 2px;

}


  img{
    height:220px;

}

table th, table td {
  padding: 11px;
  border: 1px solid #ddd;
  text-align: center;
}



/*
=================================================
BECK LAKE
=================================================
*/


h2 {
  font-size: 55px;
}
img{
  height:250px;
  width: 400px;

}

/*
=================================================
BELLEAU LAKE
=================================================
*/



/*
=================================================
GLENVIEW LAKE
=================================================
*/

